[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
caldav = "*"
icalevents = "*"

[dev-packages]

[scripts]
sync = "python app.py"

[requires]
python_version = "3.11"
